<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Awakening</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Your Web App Name</title>
    <link rel="apple-touch-icon" href="/static/images/home_icon.png">
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
</head>
<body>
    <div id="scene">
        <div id="rotate-device">Please rotate your device to landscape mode</div>
        <div id="modal" class="modal">
            <div class="modal-center-wrapper">
                <div class="modal-content">
                    <span id="closeModal" class="close" style="cursor:pointer;">&times;</span>
                    <img id="modal-image" src="" alt="Modal Image" class="modal-image">
                    <p id="modal-description" class="modal-text">Your description here.</p>
                </div>
            </div>
        </div>
        <div id="title-subtitle-container">
            <div class="text-background">
                <div id="title"></div>
                <div id="subtitle"></div>
            </div>
        </div>
        <div id="content-wrapper">
            <div id="content" class="text-background"></div>
        </div>
        <div id="options-container"></div>
        <audio id="background-audio" preload="auto" loop>
            <source id="background-audio-source" src="" type="audio/mp3">
        </audio>
        <audio id="voiceover-audio">
            <source id="voiceover-audio-source" type="audio/mp3">
        </audio>
        <video id="background-video" loop autoplay muted playsinline>
            <source id="video-source" type="video/mov">
        </video> 
        <div id="inventory" style="position: fixed; bottom: 10px; right: 10px;"></div>       
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>